<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/keen-dashboards.css') }}" />
        <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="application">





<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
            </button>
            <a class="navbar-brand" href="#">Control Panel</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3">
                    <!-- left -->
                    <h3><i class="glyphicon glyphicon-briefcase"></i> Toolbox</h3>
                    <hr>

                    <ul class="nav nav-stacked">
                        <li><a href="javascript:;"><i class="glyphicon glyphicon-flash"></i> Alerts</a></li>
                        <li><a href="javascript:;"><i class="glyphicon glyphicon-link"></i> Links</a></li>
                        <li><a href="javascript:;"><i class="glyphicon glyphicon-list-alt"></i> Reports</a></li>
                        <li><a href="javascript:;"><i class="glyphicon glyphicon-book"></i> Books</a></li>
                        <li><a href="javascript:;"><i class="glyphicon glyphicon-briefcase"></i> Tools</a></li>
                        <li><a href="javascript:;"><i class="glyphicon glyphicon-time"></i> Real-time</a></li>
                        <li><a href="javascript:;"><i class="glyphicon glyphicon-plus"></i> Advanced..</a></li>
                    </ul>

                    <hr>

                </div>
                <div class="col-sm-9">
                    {% if error is defined %}
                        <div class="alert alert-error">{{ error.messageKey|trans(error.messageData) }}</div>
                    {% endif %}

                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>New Requests</h4></div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item active">Hosting virtual mailbox serv..</a>
                                <a href="#" class="list-group-item">Dedicated server doesn't..</a>
                                <a href="#" class="list-group-item">RHEL 6 install on new..</a>
                            </div>
                        </div>
                    </div>
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>

    </div>
</div>



<hr>

<footer class="text-center">This Bootstrap 3 dashboard layout is compliments of <a href="#"><strong>fsdkljfslkdf</strong></a></footer>

</div>

























{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/lib/holderjs/holder.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/lib/keen-js/dist/keen.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/meta.js') }}"></script>

{% endblock %}
</body>
</html>
