{% extends 'TellerAccountBundle::dashboard.html.twig' %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading"><h4>Report</h4></div>
        <div class="panel-body">
            <div class="col-sm-12">
                <form action="{{ app.request.getBaseURL() }}/dashboard/currency" method="POST" name="currency">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                {% for currency in currencies %}
                                    <div class="checkbox">
                                        <label>
                                            <input id="currency" name="id[]" value="{{ currency.getId() }}" {% if currency.getStatus() == 1 %} checked {% endif %} type="checkbox"> {{ currency.getCountry() }}
                                        </label>
                                    </div>
                                    {#{{ currency.getId() }}#}
                                    {#{{ currency.getCountry() }}#}
                                    {#{{ currency.getCurrency() }}#}
                                    {#{{ currency.getCode() }}#}
                                    {#{{ currency.getSymbol() }}#}
                                    {#{{ currency.getStatus() }}#}
                                {% endfor %}
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-primary pull-right">Add</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>

{% endblock %}