{% extends 'TellerAccountBundle::dashboard.html.twig' %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading"><h4>Report</h4></div>
        <div class="panel-body">
            <div class="col-sm-12">
                <form>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="from">From</label>
                                    <input class="form-control datepicker"  name="from" type="text" placeholder="From Date">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="to">To</label>
                                <input type="text" class="form-control datepicker" id="to"
                                       placeholder="To Date">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sendcurrency">Currency</label>
                                <input type="text" class="form-control" id="sendcurrency"
                                       placeholder="Currency">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="rate">Rate</label>
                                <input type="email" class="form-control" id="rate"
                                       placeholder="Rate">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="bs-example" data-example-id="bordered-table">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Name</th>
                                        <th>DR.</th>
                                        <th>CR.</th>
                                        <th>Details</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% set i = 1 %}

                                {% for list in data %}
                                    <tr>
                                        <th scope="row">{{ i }}</th>
                                        <td>{{ list.username }}</td>
                                        <td>{{ list.received_money }}</td>
                                        <td>{{ list.total_transferred_money }}</td>
                                        <td>{{ list.comment }}</td>
                                    </tr>

                                    {% set i = i+1 %}

                                {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <nav class="pull-right">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-primary pull-right">Export</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>

{% endblock %}