<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/keen-dashboards.css') }}"/>
        <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/datepicker.css') }}" type="text/css" rel="stylesheet"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="application">


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
            </button>
            <a class="navbar-brand" href="#">Teller</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> Create Admin User</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3">



                    <div class="panel panel-default">
                        <div class="panel-heading"><h4><i class="glyphicon glyphicon-th-list"></i> Teller Menu</h4></div>
                        <div class="panel-body">
                            <ul class="nav nav-stacked">
                                <li><a href="{{ app.request.getBaseURL() }}/dashboard"><i class="fa fa-plus-square"></i> Teller</a></li>
                                <li><a href="{{ app.request.getBaseURL() }}/dashboard/report"><i class="glyphicon glyphicon-list-alt"></i> Reports</a></li>
                                <li><a href="{{ app.request.getBaseURL() }}/dashboard/setting"><i class="fa fa-cog"></i> Currency Setting</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-sm-9">
                    {% if error is defined %}
                        <div class="alert alert-error">{{ error.messageKey|trans(error.messageData) }}</div>
                    {% endif %}
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>

    </div>
</div>


<hr>

<footer class="text-center">Copyright 2015 <a
            href="#"><strong>--Teller--</strong></a></footer>

</div>



{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/lib/holderjs/holder.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/lib/keen-js/dist/keen.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/meta.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script>
        $('.datepicker').datepicker()
    </script>

{% endblock %}
</body>
</html>
